
  

    <h3 class="i-name">Dashboard</h3>
<div class="values">
<div class="val-box">
    <i class="fas fa-shopping-cart"></i>
    <div>
        <h3>{{pcount}}</h3>
            <span>Stock</span>
        </div>
    </div>
&nbsp;&nbsp;
    <div class="val-box">
        <i class="fas fa-dollar-sign"></i>
        <div>
            <h3>{{scount}}</h3>
                <span>Sales</span>
            </div>
        </div>&nbsp;&nbsp;
        <div class="val-box">
            <i class="fas fa-shopping-cart"></i>
            <div>
                <h3>{{ocount}}</h3>
                    <span>Orders</span>
                </div>
            </div>&nbsp;&nbsp;
            <div class="val-box">
                <i class="fas fa-users"></i>
                <div>
                    <h3>{{ucount}}</h3>
                        <span>Customers</span>
                    </div>
                </div>
</div>


<!--<div class="bootstrap-wrapper ">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-md-2 ">
          <app-sidebar></app-sidebar>
        </div>
  
        <div class="col-md-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>-->
   
   

    

 