<nav >

    <img src="../../../assets/logo.png" alt="" class="profile-image"/>

<a class="navbar-brand px-4">Inventory</a>



<a  [routerLink]="['/login']" style="margin-left: 70%;color: rgb(10, 10, 10);"><span class="fa fa-user"></span>&nbsp;Log In</a>


   




<!--<div style="margin-left: 75%;" class="profile-logo dropdown ">
    <button class="btn btn-outline-light dropdown-toggle " data-bs-toggle="dropdown">Pratiksha</button>
    
        <ul class="dropdown-menu dropdown-menu-dark ">
            <li>
                <a class="dropdown-item" href="#">Your profile</a>
            </li>
            <li>
                <a class="dropdown-item" href="login">Log Out</a>
            </li>
        </ul>
</div>-->
</nav>
