.main {
    /* background-color: rgb(138, 235, 242); */
    /* padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%; */
    /* margin: ; */
    /* margin: 10% auto; */
    /* 
    padding-top: 2%; */
    /* width: 100%; 
    padding: 5%;
    margin-left: 100px; */
    width: 85%;
    padding-top: 60px;
    padding-left: 6px;
    margin-left: 201px;
}