.main {
    /* background-color: rgb(138, 235, 242); */
    /* padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%; */
    /* margin: ; */
    /* margin: 10% auto; */
    /* 
    padding-top: 2%; */
    /* width: 100%; 
    padding: 5%;
    margin-left: 100px; */
    width: 100%;
    padding-top: 75px;
    padding-left: 0;
    margin-left: 0;
}

.table {
    color: #0a443d;
    width: 100%;
    padding:2%
}

.h2 {
    color :#0a443d;
    /* text-align: center; */
    float: left;
}

.mr-0 {
    margin-right: 0;
  }
  .ml-auto {
    margin-left:auto;
  }
  .d-block {
    display:block;
  }

  .nod{
    color:red;text-align:center;font-weight: 700;
    padding-left:450px
  }